<form action="/create-movie-2" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="number" name="year" placeholder="year">
    <input type="number" name="rate" placeholder="rate">
    <input type="text" name="director" placeholder="director">
    <input type="text" name="duration" placeholder="duration">

    <input type="submit" value="Add a new movie">

    {{!-- genre: [String] --}}
</form>